* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Orbitron;
  height: 100%;
  margin: 0;
  background-image: url('assets/img/herbarium-vhs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', monospace;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  position: center;
  margin: 0px;
}

.hero::after {
  font-family: Orbitron;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 124, 174, 0.2);
  z-index: 1;
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.neon-text {
  font-family: Orbitron;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(36, 94, 174), 0 0 20px rgb(46, 180, 166), 0 0 40px rgb(16, 46, 146);
  animation: flicker 1.8s infinite alternate;
  -webkit-animation: flicker 1.8s infinite alternate;
}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }

  20%,
  24%,
  55% {
    opacity: 0.5;
  }
}

.mobile-navbar {
  font-family: Orbitron;
  position: sticky;
  top: 0;
  background: rgba(79, 79, 79, 0.8);
  padding: 0.5rem;
  z-index: 999;
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.mobile-menu a {
  font-family: Orbitron;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  /* Glow */
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: none;
    /* nasconde il menu mobile */
  }

  .tv-container {
    position: relative;
    height: 100vh;
  }

  .tv-button {
    font-family: Orbitron;
    position: absolute;
    color: #fff;
    padding: 1rem 2rem;
    transform: skew(-10deg);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 3;
    pointer-events: auto;
  }

  #btn-contacts {
    font-family: Orbitron;
    animation: flicker 2.2s infinite alternate;
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(36, 94, 174), 0 0 20px rgb(46, 180, 166), 0 0 40px rgb(16, 46, 146);
    transition: all 0.3s ease-in-out;
    -webkit-animation: flicker 2.2s infinite alternate;
  }

  #btn-portfolio {
    font-family: Orbitron;
    animation: flicker 3s infinite alternate;
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(36, 94, 174), 0 0 20px rgb(46, 180, 166), 0 0 40px rgb(16, 46, 146);
    transition: all 0.3s ease-in-out;
    -webkit-animation: flicker 2.8s infinite alternate;
    z-index: 3;
  }

  /* posizione personalizzata per ogni bottone */
  #btn-portfolio {
    top: 38%;
    left: 57%;
    font-family: Orbitron;
    text-shadow:
      0 0 5px #00aaff,
      0 0 10px #00aaff,
      0 0 20px #00aaff,
      0 0 40px #00aaff;
  }

  #btn-contacts {
    top: 72%;
    left: 68%;
    font-family: Orbitron;
    text-shadow:
      0 0 5px #00ffd5,
      0 0 10px #00ffd5,
      0 0 20px #00ffd5,
      0 0 40px #00ffd5;
  }
}

/* portfolio style */
body.portfolio-page {
  height: 100%;
  margin: 0;
  background-image: url('assets/img/vhs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', monospace;
}

.neon-text-portfolio {
  font-family: Orbitron;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  font-family: Orbitron;
  color: #fff;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(97, 34, 118), 0 0 20px rgb(183, 57, 143), 0 0 40px rgb(16, 46, 146);
  animation: flicker 2.5s infinite alternate;
  -webkit-animation: flicker 2.5s infinite alternate;
}

.skills-section {
  text-align: right;
  padding: 1rem 1rem;
  color: white;
}

.section-title {
  font-family: Orbitron;
  padding-top: 55px;
  padding-bottom: 5px;
  font-size: 2.5rem;
  font-family: Orbitron;
  text-shadow: 0 0 10px #00ffff;
  animation: flicker 3.2s infinite alternate;
  -webkit-animation: flicker 3.2s infinite alternate;
}

.skills-list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 2rem;
}

.skill-item {
  font-family: Orbitron;
  display: flex;
  flex: 1 1 100px;
  flex-direction: column;
  align-items: center;
  width: 90px;
  max-width: 150px;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 1rem;
  background-color: rgba(242, 238, 238, 0.3);
  border-radius: 12px;
  text-shadow: 0 0 5px #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
}

.skill-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 5px #00ffff);
}

.skill-item span {
  color: white;
  font-weight: bold;
}

.home-button {
  position: absolute;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 3;
  pointer-events: auto;
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

#btn-home {
  font-family: Orbitron;
  bottom: 15%;
  left: 20%;
  font-size: 35px;
  text-shadow: 0 0 5px #c50e0e, 0 0 10px #c50e0e, 0 0 20px #c50e0e, 0 0 40px #c50e0e;
  animation: flicker 2.9s infinite alternate;
  -webkit-animation: flicker 2.9s infinite alternate;
}

.mobile-menu a.active {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #00ffff;
}


/* contacts stile */
body.contacts-page {
  height: 100%;
  margin: 0;
  background-image: url('assets/img/sea.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', monospace;
}

.neon-text-contacts {
  padding: 10px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(148, 48, 181), 0 0 20px rgb(183, 141, 57), 0 0 40px rgb(16, 46, 146);
  animation: flicker 2.5s infinite alternate;
  -webkit-animation: flicker 2.5s infinite alternate;
}
