* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quantico", sans-serif;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom #78BCCF, #53B9FF);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

/* animazioni */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }

  20%,
  24%,
  55% {
    opacity: 0.5;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

/* mobile menu*/
.mobile-navbar {
  position: sticky;
  top: 0;
  background: rgba(79, 79, 79, 0.8);
  padding: 0.5rem;
  z-index: 999;
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.mobile-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}


/* nasconde il menu mobile */
@media (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}

.portfolio-page {
  margin: 0;
  height: 100vh;
  background-image: url("assets/img/vhs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 2;
}

main.main-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

main .neon-text-portfolio {
  grid-column: 1/2;
  right: 20%;
}

main .about-me {
  grid-column: 1/3;
  padding: 10px;
}

.typewriter {
  display: inline-block;
}

.text-write {
  font-size: 2em;
  letter-spacing: 10px;
  font-family: "Quantico", sans-serif;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(97, 34, 118), 0 0 20px rgb(183, 57, 143), 0 0 40px rgb(16, 46, 146);
  animation:
    typing 7s infinite,
    cursor .4s step-end infinite alternate;
}

main .skills-section {
  grid-column: 1/2;
  padding: 10px;
  left: 10%;
}

.text-box {
  color: #ede6eb;
  display: inline-block;
  max-width: 90%;
  font-size: 16px;
  padding: 1rem;
  background-color: rgba(164, 104, 191, 0.5);
  border: solid 1px red;
  border-radius: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-shadow: 0 0 5px #bb5e97;
  box-shadow: 0 0 10px #7b528e;
}

.content {
  display: block;
  width: 100%;
}

.neon-text-portfolio {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(97, 34, 118), 0 0 20px rgb(183, 57, 143), 0 0 40px rgb(16, 46, 146);
  animation: flicker 2.5s infinite alternate;
}

.skills-section {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: 1/3;
  justify-items: center;
  gap: 1rem;
  text-align: right;
  padding: 3rem;
  color: white;
}

.skills-hamburger {
  position: relative;
  display: flex;
  grid-row: 1;
  bottom: 20%;
  justify-content: center;
  max-height: 90px;
  width: 30%;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 5px #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}

.skills-hamburger:hover {
  box-shadow: 0 0 10px #00ffcc;
  background: rgba(255, 255, 255, 0.2);
}

/* nasconde la spunta di checkbox*/
input[type=checkbox] {
  display: none;
}

.skills-list {
  grid-row: 2;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill-item {
  display: flex;
  flex: 1 1 100px;
  flex-direction: column;
  align-items: center;
  width: 120px;
  max-width: 150px;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 1rem;
  background-color: rgba(242, 238, 238, 0.3);
  border-radius: 12px;
  text-shadow: 0 0 5px #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
}

.skill-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 5px #00ffff);
}

.skill-item span {
  color: white;
  font-weight: bold;
}

/*.home-button {
  position: absolute;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 3;
  pointer-events: auto;
}

#btn-home {
  bottom: 15%;
  left: 15%;
  font-size: 35px;
  text-shadow: 0 0 5px #c50e0e, 0 0 10px #c50e0e, 0 0 20px #c50e0e, 0 0 40px #c50e0e;
  animation: flicker 2.9s infinite alternate;
}*/

.mobile-menu a.active {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #00ffff;
}

section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

#project-section {
  background: #78BCCF;
  background: linear-gradient(to bottom, rgba(120, 188, 207, 1) 0%, rgba(83, 185, 255, 1) 50%, rgba(123, 82, 142, 1) 100%);
}



section .animate {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s
}

.sec-1 .animate {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.sec-1.show-animate .animate {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.sec-2 .animate {
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}

.sec-2.show-animate .animate {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.sec-3 .animate {
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

.sec-3.show-animate .animate {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

h2 {
  font-size: 90px;
  color: #c0c0c0;
}

p {
  font-size: 35px;
  color: #4da720;
  font-weight: 600;
}


/* Mobile portfolio*/
@media (max-width: 700px) {
  :root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #00ffcc;
    --background: rgba(255, 255, 255, 0.2);
    --hamburger-margin-right: 30px;
    --hamburger-margin-top: 350px;
    --animation-timing: 200ms ease-in-out;
  }

  main.main-portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .text-box {
    color: rgb(234, 221, 238);
    display: inline-block;
    max-width: 90%;
    font-size: 10px;
    padding: 1rem;
    background-color: rgba(174, 115, 201, 0.4);
    border: solid 1px red;
    border-radius: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-shadow: 0 0 5px rgb(183, 57, 143);
    box-shadow: 0 0 10px rgb(183, 57, 143);
  }

  .content {
    display: block;
    width: 100%;
  }

  h1.neon-text-portfolio {
    font-size: 1.8rem;
    text-align: center;
  }

  .skills-hamburger {
    display: flex;
    flex-direction: row;
    gap: var(--hamburger-gap);
    width: -moz-max-content;
    width: max-content;
    position: static;
    margin: 1rem auto;
    right: var(--hamburger-margin-right);
    top: var(--hamburger-margin-top);
    z-index: 1;
  }

  .skills-checkbox,
  .text-write {
    display: none;
  }

  .skills-list {
    max-width: 100%;
    display: flex;
    grid-row: 2;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    gap: 1rem;
    transition: max-height 0.6s ease;
    -webkit-transition: max-height 0.6s ease;
    -moz-transition: max-height 0.6s ease;
    -ms-transition: max-height 0.6s ease;
    -o-transition: max-height 0.6s ease;
  }

  .skill-item {
    display: inline-flex;
    justify-items: center;
    width: 25px;
    font-size: 0.7rem;
  }

  .skill-item img {
    width: 20px;
    height: 20px;
  }

  .skills-section {
    width: 100%;
    display: block;
  }

  .skills-list.show {
    display: flex;
  }

  .about-me {
    width: 100%;
  }

  #btn-home {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-portfolio {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
  }

  .text-box {
    display: block;
    width: 100%;
    max-width: 90vw;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    background-color: rgba(174, 115, 201, 0.619);
    border: solid 1px red;
    border-radius: 12px;
    text-shadow: 0 0 5px rgb(183, 57, 143);
    box-shadow: 0 0 10px rgb(183, 57, 143);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .content {
    display: block;
    width: 100%;
    line-height: 1.4;
  }

  .skills-section {
    width: 100%;
    display: block;
  }

  .skills-list.show {
    display: 300px;
  }

  .skill-item {
    width: 25px;
    font-size: 0.6rem;
  }

  .skill-item img {
    width: 25px;
    height: 25px;
  }
}

/* contacts style */
body.contacts-page {
  margin: 0;
  height: 100vh;
  overflow: scroll;
  background-image: url("assets/img/sea.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 3;
}

.neon-text-contacts {
  padding-bottom: 35px;
  font-size: 3rem;
  font-family: "Quantico", sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(148, 48, 181), 0 0 20px rgb(183, 141, 57), 0 0 40px rgb(16, 46, 146);
  animation: flicker 2.5s infinite alternate;
}

.hero.contacts-page {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-icons {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.contacts-icons img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 5px rgb(201, 127, 226));
  -webkit-filter: drop-shadow(0 0 5px rgb(201, 127, 226));
}

.contacts-icons a {
  color: #f5ebc5;
  text-shadow: 0 0 5px #f5ebc5, 0 0 10px rgb(148, 48, 181), 0 0 20px rgb(183, 141, 57), 0 0 40px rgb(16, 46, 146);
  animation: flicker 3s infinite alternate;
  text-decoration: none;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgb(201, 127, 226);
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #f5ebc5;
  cursor: text;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.submit-button {
  padding: 10px 0;
  color: #f5ebc5;
  outline: none;
  background: transparent;
  border: 1px solid rgb(201, 127, 226);
  width: 100%;
  cursor: pointer;
}

input:focus~label,
input:valid~label {
  top: -35px;
  font-size: 14px;
}

textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

/* mobile contacts */
@media (max-width: 1250px) {
  #btn-home {
    display: none;
  }
}

/* mobile glitch effect */
@keyframes glitch-out {
  0% {
    transform: none;
    opacity: 1;
    filter: none;
  }

  20% {
    transform: skewX(5deg);
    filter: contrast(1.2) brightness(1.2);
  }

  40% {
    transform: skewX(-5deg) scale(1.05);
    filter: contrast(0.8) brightness(0.8);
  }

  60% {
    transform: skewX(10deg);
    filter: hue-rotate(20deg);
  }

  80% {
    transform: scale(0.9) skewX(-10deg);
    filter: hue-rotate(-20deg);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(5px);
  }
}

.glitch-transition {
  animation: glitch-out 0.6s forwards;
}

/*# sourceMappingURL=style.css.map */